.kaifx-app-root {
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

h5 {
    font-size: 14px;
}

.kaifx-content {
    flex: 1;
}

.kaifx-softkeys {
    box-sizing: border-box;

    background-color: #ccc;
    font-size: 12px;

    line-height: 22px;
    min-height: 22px;
    text-overflow: clip;
    
    display: flex;
    justify-content: space-around;
}

.kaifx-softkeys > .left {
    order: 1;
    
}

.kaifx-softkeys > .centre {
    order: 2;
    font-weight: bold;
    text-transform: uppercase;
}

.kaifx-softkeys > .right {
    order: 3;
    text-align: right;
    
}