.kaifx-app-root {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.kaifx-page-header {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    min-height: 22px;
    text-align: center;
    background-color: #333;
    color: white;
}

.kaifx-page-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.kaifx-softkeys {
    box-sizing: border-box;

    background-color: #ccc;
    font-size: 14px;

    line-height: 22px;
    min-height: 22px;
    text-overflow: clip;
    
    display: flex;
    justify-content: space-around;
}

.kaifx-softkeys > .left {
    order: 1;
    
}

.kaifx-softkeys > .centre {
    order: 2;
    font-weight: bold;
    text-transform: uppercase;
}

.kaifx-softkeys > .right {
    order: 3;
    text-align: right;
    
}